<header class="header">
    <div class="header__container container">
        <div class="header__wrap">
            <div class="header__logo">
                <a href="/">
                    <!-- Schema.org: ImageObject -->
                    <span itemscope itemtype="https://schema.org/ImageObject">
                        <img src="/img/header_logo.svg" alt="<%= title %>" title="<%= title %>" />
                        <span hidden itemprop="name"><%= title %></span>
                        <span hidden itemprop="contentUrl" src="<%= base %>/img/header_logo.svg"></span>
                        <span hidden itemprop="author"><%= site %></span>
                    </span>
                </a>
            </div>
            <!-- Schema.org: SiteNavigationElement -->
            <nav class="header__nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
                <ul itemprop="about" itemscope itemtype="http://schema.org/ItemList" class="header__menu header-menu">
                    <li itemscope itemprop="itemListElement" itemtype="http://schema.org/ItemList" class="header-menu__item">
                        <a itemprop="url" href="<%= base %>/about" class="header-menu__link">
                            О нас
                            <meta itemprop="name" content="О нас" />
                        </a>
                    </li>
                    <li itemscope itemprop="itemListElement" itemtype="http://schema.org/ItemList" class="header-menu__item">
                        <a itemprop="url" href="<%= base %>/contacts" class="header-menu__link">
                            Контакты
                            <meta itemprop="name" content="Контакты" />
                        </a>
                    </li>
                    <li itemscope itemprop="itemListElement" itemtype="http://schema.org/ItemList" class="header-menu__item">
                        <a itemprop="url" href="<%= base %>/handbooks" class="header-menu__link">
                            Справочники
                            <meta itemprop="name" content="Справочники" />
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="header__actions">
                <button class="header__btn btn btn--grey btn-open" data-open-form="feedback-form">
                    Напишите нам
                </button>
                <button class="header__burger burger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="header__user-auth user-auth">
                    <div class="user-auth__actions">
                        <a href="<%= lk_link %>" class="user-auth__link">Вход</a>
                        <div class="user-auth__sep">/</div>
                        <a href="<%= lk_link %>" class="user-auth__link">Регистрация</a>
                    </div>
                    <a href="<%= lk_link %>" class="user-auth__icon">
                        <img src="/img/user_auth.svg"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
